body
{
	background:skyblue;
	font-family:cursive;
}
h1
{
	font-family:aharoni;
	font-size:5em;color:white;
	text-shadow:0.1em 0.1em 0em black;
}
input
{
	border-radius:0.4em;
	border:none;
	padding:0.5em;
	border:0.2em solid skyblue;
}
input:focus
{
	border:0.2em solid blue;
}
select
{
	border-radius:0.4em;
	border:none;
	padding:0.5em;
	border:0.2em solid skyblue;
}
li
{
	display:inline;
}
a
{
	background:white;color:skyblue;padding:0.2em;text-decoration:none;
}