body
{
	background:skyblue;	font-family:cursive;
	margin-top:10em;
	background:url("../images/background.jpg");
	background-position: center top;
	overflow:auto;
	color:black !important;
}
label{color:black}
h1
{
	text-align:center;
	font-family:aharoni;
	font-size:5em;color:white;
	text-shadow:0.1em 0.1em 0em black;
}
input
{
	border-radius:0.4em;
	border:none;
	padding:0.5em;
	border:0.2em solid skyblue;
}
input:focus
{
	border:0.2em solid orange;
}
select
{
	border-radius:0.4em;
	border:none;
	padding:0.5em;
	border:0.2em solid skyblue;
}
ul
{
	background:white;padding:2em;
}
li
{
	display:inline;
}
a
{
	background:white;color:skyblue;padding:0.2em;text-decoration:none;
}
#nav
{
	position:fixed;
	left:0px;
	right:0px;
	top:-16px;
	opacity:0.9
}
table
{
	background:white;width:1200px;margin:auto;border-radius:5em;padding:2em;box-shadow:0.9em 0.9em 0em black;overflow:scroll;color:black !important;
}